nifi/flow.json
{"flowContents":{"identifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","instanceIdentifier":"ecf3bdd6-0196-1000-feaa-9652416e451b","name":"flow","comments":"","position":{"x":-38.5,"y":-143.5714340209961},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e71bc302-938d-35d7-aaa1-3c5958ee4b4b","instanceIdentifier":"19ea7129-61f3-3e25-0e3a-aacb1b7b9a03","name":"InvokeHTTP","comments":"","position":{"x":-424.0,"y":264.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"${url}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"ddee9737-0196-1000-f16b-1294a0d9d27a","instanceIdentifier":"c497a33a-b4b5-3e5e-7198-39c199d6d205","name":"GenFlowFile-em","comments":"Switch with a GetFile","position":{"x":-424.0,"y":-336.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"https://data.electricitymaps.com/2025-04-03/IT_2021_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/IT_2022_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/IT_2023_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/IT_2024_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/SE_2021_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/SE_2022_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/SE_2023_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/SE_2024_hourly.csv","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"12 hours","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"98fe3eff-f40a-3342-b017-40cfab820832","instanceIdentifier":"fc1d09b2-2f09-396f-42ba-30c795f5ce56","name":"PutHDFS","comments":"","position":{"x":-736.0,"y":488.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.4.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/nifi/nifi-current/conf/hadoop/core-site.xml,/opt/nifi/nifi-current/conf/hadoop/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Ignore Locality":"false","Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Directory":"/data","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"bdcf4931-d7fc-3230-a4f6-81e616b0ea9c","instanceIdentifier":"45608fb4-9e9c-34da-ed06-1dae62197cd4","name":"PutFile","comments":"","position":{"x":-96.0,"y":488.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/opt/nifi","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"c2f3516f-529f-3c8e-8c5d-45febec1559f","instanceIdentifier":"ff3ea7ad-91f9-3b93-1bc1-bdf5ed775fb2","name":"SplitText","comments":"","position":{"x":-424.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"de6443c8-0196-1000-da41-94ad2558bb1d","instanceIdentifier":"5142fe62-a7c3-3129-f79c-ffd296425b98","name":"UpdateAttribute","comments":"","position":{"x":-1064.0,"y":264.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${url:replaceAll('https://data.electricitymaps.com/2025-04-03/','')}    ","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"e8e7adb8-f30b-3833-af18-ebef67d740fd","instanceIdentifier":"754eab2c-ce68-3706-b926-746db8e4920b","name":"ExtractText","comments":"","position":{"x":-424.0,"y":56.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","url":"^(.*)$","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"10f5bc43-1577-34af-af00-5e26cad893ff","instanceIdentifier":"161b8082-63a2-32c4-8277-bf383a6e38f0","name":"UpdateAttribute","comments":"","position":{"x":232.0,"y":264.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${url:replaceAll('https://data.electricitymaps.com/2025-04-03/','')}    ","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"32f36f5f-c6cb-388a-bed5-daadd3b0e1b2","instanceIdentifier":"c74078fa-5beb-33f6-057c-d0b9ab561c9e","name":"","source":{"id":"ddee9737-0196-1000-f16b-1294a0d9d27a","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"GenFlowFile-em","comments":"Switch with a GetFile","instanceIdentifier":"c497a33a-b4b5-3e5e-7198-39c199d6d205"},"destination":{"id":"c2f3516f-529f-3c8e-8c5d-45febec1559f","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"SplitText","comments":"","instanceIdentifier":"ff3ea7ad-91f9-3b93-1bc1-bdf5ed775fb2"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"e05c05af-7a68-3bf4-a3dc-a92cdf8e7b1e","instanceIdentifier":"45778ed2-969a-3ad4-624d-c4d4d8f21a70","name":"","source":{"id":"e71bc302-938d-35d7-aaa1-3c5958ee4b4b","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"InvokeHTTP","comments":"","instanceIdentifier":"19ea7129-61f3-3e25-0e3a-aacb1b7b9a03"},"destination":{"id":"de6443c8-0196-1000-da41-94ad2558bb1d","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"UpdateAttribute","comments":"","instanceIdentifier":"5142fe62-a7c3-3129-f79c-ffd296425b98"},"labelIndex":0,"zIndex":7,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"322c964e-6ef3-3923-9546-d8717a04633c","instanceIdentifier":"eff9e279-dd2f-3a8a-5f02-0ff327b4c352","name":"","source":{"id":"10f5bc43-1577-34af-af00-5e26cad893ff","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"UpdateAttribute","comments":"","instanceIdentifier":"161b8082-63a2-32c4-8277-bf383a6e38f0"},"destination":{"id":"bdcf4931-d7fc-3230-a4f6-81e616b0ea9c","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"PutFile","comments":"","instanceIdentifier":"45608fb4-9e9c-34da-ed06-1dae62197cd4"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"d50ca63d-f95d-33b7-a02c-a222fa63efbe","instanceIdentifier":"b1104576-0f3e-3ccb-97b5-5c4a9086a130","name":"","source":{"id":"e8e7adb8-f30b-3833-af18-ebef67d740fd","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"ExtractText","comments":"","instanceIdentifier":"754eab2c-ce68-3706-b926-746db8e4920b"},"destination":{"id":"e71bc302-938d-35d7-aaa1-3c5958ee4b4b","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"InvokeHTTP","comments":"","instanceIdentifier":"19ea7129-61f3-3e25-0e3a-aacb1b7b9a03"},"labelIndex":0,"zIndex":5,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"f584c433-3b6b-3f08-81df-782e34be2b3b","instanceIdentifier":"1329c0cf-4ce5-378b-35cc-c9e959ecc13d","name":"","source":{"id":"de6443c8-0196-1000-da41-94ad2558bb1d","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"UpdateAttribute","comments":"","instanceIdentifier":"5142fe62-a7c3-3129-f79c-ffd296425b98"},"destination":{"id":"98fe3eff-f40a-3342-b017-40cfab820832","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"PutHDFS","comments":"","instanceIdentifier":"fc1d09b2-2f09-396f-42ba-30c795f5ce56"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"56fdec86-4df9-38b3-8c93-4673eeac60bb","instanceIdentifier":"d029e254-8ffa-36c0-1c24-96abd76176dc","name":"","source":{"id":"bdcf4931-d7fc-3230-a4f6-81e616b0ea9c","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"PutFile","comments":"","instanceIdentifier":"45608fb4-9e9c-34da-ed06-1dae62197cd4"},"destination":{"id":"dda3ae2b-0196-1000-473b-0472150a33d3","type":"FUNNEL","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"Funnel","comments":"","instanceIdentifier":"d2dfd2be-9404-3e9e-38c4-7e2f49c93965"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"2ad0e7a8-f051-34a4-978a-ef47358a0662","instanceIdentifier":"f857db7a-7f2a-3e0e-0654-c92b5aae102d","name":"","source":{"id":"98fe3eff-f40a-3342-b017-40cfab820832","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"PutHDFS","comments":"","instanceIdentifier":"fc1d09b2-2f09-396f-42ba-30c795f5ce56"},"destination":{"id":"55dda8b4-73f1-3e32-9f1f-fed59c69ab46","type":"FUNNEL","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"Funnel","comments":"","instanceIdentifier":"397e0b06-859e-3b5d-4d62-c005514ca4c4"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"5668e1df-e2a6-3ea9-9b78-6495a7fa19ba","instanceIdentifier":"767e1f18-9932-3048-b959-199e97046d1e","name":"","source":{"id":"98fe3eff-f40a-3342-b017-40cfab820832","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"PutHDFS","comments":"","instanceIdentifier":"fc1d09b2-2f09-396f-42ba-30c795f5ce56"},"destination":{"id":"d7882197-25f6-320a-a543-5b5036e96e54","type":"FUNNEL","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"Funnel","comments":"","instanceIdentifier":"1790790b-a440-34d3-b928-2c16929b5d40"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"26bbe2de-ff69-3f51-ac69-5ea68d162c32","instanceIdentifier":"965e85d8-3f9f-35f3-c502-29709a600e40","name":"","source":{"id":"bdcf4931-d7fc-3230-a4f6-81e616b0ea9c","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"PutFile","comments":"","instanceIdentifier":"45608fb4-9e9c-34da-ed06-1dae62197cd4"},"destination":{"id":"dda3ecd0-0196-1000-4d4e-864271dfe47e","type":"FUNNEL","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"Funnel","comments":"","instanceIdentifier":"45bc6092-4d07-31c2-1564-71a387fbe606"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"5cef9214-a908-3805-868e-c00d8a6e9338","instanceIdentifier":"b24c8f38-ac6d-396e-06a9-bb9705f515c3","name":"","source":{"id":"c2f3516f-529f-3c8e-8c5d-45febec1559f","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"SplitText","comments":"","instanceIdentifier":"ff3ea7ad-91f9-3b93-1bc1-bdf5ed775fb2"},"destination":{"id":"e8e7adb8-f30b-3833-af18-ebef67d740fd","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"ExtractText","comments":"","instanceIdentifier":"754eab2c-ce68-3706-b926-746db8e4920b"},"labelIndex":0,"zIndex":15,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"}],"labels":[],"funnels":[{"identifier":"55dda8b4-73f1-3e32-9f1f-fed59c69ab46","instanceIdentifier":"397e0b06-859e-3b5d-4d62-c005514ca4c4","position":{"x":-344.0,"y":704.0},"componentType":"FUNNEL","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"d7882197-25f6-320a-a543-5b5036e96e54","instanceIdentifier":"1790790b-a440-34d3-b928-2c16929b5d40","position":{"x":-832.0,"y":704.0},"componentType":"FUNNEL","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"dda3ecd0-0196-1000-4d4e-864271dfe47e","instanceIdentifier":"45bc6092-4d07-31c2-1564-71a387fbe606","position":{"x":296.0,"y":704.0},"componentType":"FUNNEL","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"dda3ae2b-0196-1000-473b-0472150a33d3","instanceIdentifier":"d2dfd2be-9404-3e9e-38c4-7e2f49c93965","position":{"x":-192.0,"y":704.0},"componentType":"FUNNEL","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"}],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}