nifi/flow.json
{"flowContents":{"identifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","instanceIdentifier":"ecf3bdd6-0196-1000-feaa-9652416e451b","name":"flow","comments":"","position":{"x":-38.5,"y":-143.5714340209961},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"08fc0a41-f35c-375a-bf18-56fff8291e8e","instanceIdentifier":"f8c72c3b-0196-1000-7c8e-302b93d4aed0","name":"ReplaceText-RemoveHeader","comments":"","position":{"x":-424.0,"y":472.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)^[^\\r\\n]*(\\r?\\n)","Replacement Value":"","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"First-Line","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"98fe3eff-f40a-3342-b017-40cfab820832","instanceIdentifier":"fc1d09b2-2f09-396f-42ba-30c795f5ce56","name":"PutHDFS","comments":"","position":{"x":200.0,"y":-336.0},"type":"org.apache.nifi.processors.hadoop.PutHDFS","bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"2.4.0"},"properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/opt/nifi/nifi-current/conf/hadoop/core-site.xml,/opt/nifi/nifi-current/conf/hadoop/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Resource Transfer Source":"FLOWFILE_CONTENT","Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"File Resource Service":null,"Block Size":null,"Ignore Locality":"false","Replication":null,"kerberos-user-service":null,"Append Mode":"DEFAULT","writing-strategy":"writeAndRename","Directory":"/data","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Resource Transfer Source":{"name":"Resource Transfer Source","displayName":"Resource Transfer Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false,"dynamic":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Resource Service":{"name":"File Resource Service","displayName":"File Resource Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Append Mode":{"name":"Append Mode","displayName":"Append Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writing-strategy":{"name":"writing-strategy","displayName":"Writing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"f8e51160-0196-1000-ea56-64c2a76f9120","instanceIdentifier":"54d9479c-de5f-329d-d84f-86ebdc0ebe53","name":"UpdateAttribute-RenameDatasets","comments":"","position":{"x":200.0,"y":-144.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${group}_all.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"c2f3516f-529f-3c8e-8c5d-45febec1559f","instanceIdentifier":"ff3ea7ad-91f9-3b93-1bc1-bdf5ed775fb2","name":"SplitText-SplitLinks","comments":"","position":{"x":-424.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"fd991320-0196-1000-4dd2-a67547916178","instanceIdentifier":"8e7d9466-958d-3bce-2541-cde5f1fd36e2","name":"UpdateAttribute-RenameParquet","comments":"","position":{"x":824.0,"y":-136.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${group}_all.parquet","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"b70faa3a-3ece-3f69-96d7-ab4d955170f9","instanceIdentifier":"f8e1c721-0196-1000-dac4-c06fb4daba3a","name":"MergeContent-ItDatasets","comments":"","position":{"x":-32.0,"y":56.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"e8e7adb8-f30b-3833-af18-ebef67d740fd","instanceIdentifier":"754eab2c-ce68-3706-b926-746db8e4920b","name":"ExtractText-ExtractLinks","comments":"","position":{"x":-424.0,"y":56.0},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable named group support":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","url":"^(.*)$","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Enable repeating capture group":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"true"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable named group support":{"name":"Enable named group support","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false,"dynamic":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable repeating capture group":{"name":"Enable repeating capture group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"e71bc302-938d-35d7-aaa1-3c5958ee4b4b","instanceIdentifier":"19ea7129-61f3-3e25-0e3a-aacb1b7b9a03","name":"InvokeHTTP-DownloadDatasets","comments":"","position":{"x":-424.0,"y":264.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"${url}","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":4,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"ddee9737-0196-1000-f16b-1294a0d9d27a","instanceIdentifier":"c497a33a-b4b5-3e5e-7198-39c199d6d205","name":"GenFlowFile-GenerateLinks","comments":"Switch with a GetFile","position":{"x":-424.0,"y":-336.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"https://data.electricitymaps.com/2025-04-03/IT_2021_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/IT_2022_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/IT_2023_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/IT_2024_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/SE_2021_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/SE_2022_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/SE_2023_hourly.csv\nhttps://data.electricitymaps.com/2025-04-03/SE_2024_hourly.csv","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"12 hours","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"f309feb7-bdd2-3c72-9fd1-a1be563b2be9","instanceIdentifier":"f8df9d4b-0196-1000-fd5e-ec0848c1107f","name":"RouteOnAttribute-CountryRoute","comments":"","position":{"x":200.0,"y":264.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"se":"${filename:contains('SE')}","Routing Strategy":"Route to Property name","it":"${filename:contains('IT')}"},"propertyDescriptors":{"se":{"name":"se","displayName":"se","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"it":{"name":"it","displayName":"it","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"f8e25de2-0196-1000-35ce-b31b43f3d7b2","instanceIdentifier":"bd21153e-4448-37da-5d6c-c120eacb6e46","name":"MergeContent-SeDatasets","comments":"","position":{"x":424.0,"y":56.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","FlowFile Insertion Strategy":"Last in Bin","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"5","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Bin Termination Check":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Insertion Strategy":{"name":"FlowFile Insertion Strategy","displayName":"FlowFile Insertion Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Bin Termination Check":{"name":"Bin Termination Check","displayName":"Bin Termination Check","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"de6443c8-0196-1000-da41-94ad2558bb1d","instanceIdentifier":"5142fe62-a7c3-3129-f79c-ffd296425b98","name":"UpdateAttribute-RenameAndGroup","comments":"","position":{"x":200.0,"y":472.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${url:replaceAll('https://data.electricitymaps.com/2025-04-03/','')}    ","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null,"group":"${url:contains(\"IT_\"):ifElse(\"IT\", ${url:contains(\"SE_\"):ifElse(\"SE\",\"\")})}"},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"group":{"name":"group","displayName":"group","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"9f4513fc-de9f-33e8-89e0-02ecaeca6021","instanceIdentifier":"fd7026e9-0196-1000-543b-6c7de6a370fb","name":"PutParquet","comments":"","position":{"x":824.0,"y":-328.0},"type":"org.apache.nifi.processors.parquet.PutParquet","bundle":{"group":"org.apache.nifi","artifact":"nifi-parquet-nar","version":"2.4.0"},"properties":{"Hadoop Configuration Resources":"/opt/nifi/nifi-current/conf/hadoop/core-site.xml,/opt/nifi/nifi-current/conf/hadoop/hdfs-site.xml","max-padding-size":null,"avro-write-old-list-structure":"true","Additional Classpath Resources":null,"permissions-umask":null,"remote-group":null,"row-group-size":null,"remote-owner":null,"enable-dictionary-encoding":null,"page-size":null,"writer-version":null,"compression-type":"UNCOMPRESSED","enable-validation":null,"dictionary-page-size":null,"kerberos-user-service":null,"record-reader":"eefb16d1-6d6f-3b69-903c-83c7568b028f","overwrite":"false","avro-add-list-element-records":"true","remove-crc-files":"false","Directory":"/data"},"propertyDescriptors":{"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE"]}},"max-padding-size":{"name":"max-padding-size","displayName":"Max Padding Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"avro-write-old-list-structure":{"name":"avro-write-old-list-structure","displayName":"Avro Write Old List Structure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"permissions-umask":{"name":"permissions-umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false,"dynamic":false},"remote-group":{"name":"remote-group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"row-group-size":{"name":"row-group-size","displayName":"Row Group Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"remote-owner":{"name":"remote-owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"enable-dictionary-encoding":{"name":"enable-dictionary-encoding","displayName":"Enable Dictionary Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"page-size":{"name":"page-size","displayName":"Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"writer-version":{"name":"writer-version","displayName":"Writer Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-type":{"name":"compression-type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"enable-validation":{"name":"enable-validation","displayName":"Enable Validation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dictionary-page-size":{"name":"dictionary-page-size","displayName":"Dictionary Page Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"overwrite":{"name":"overwrite","displayName":"Overwrite Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"avro-add-list-element-records":{"name":"avro-add-list-element-records","displayName":"Avro Add List Element Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"remove-crc-files":{"name":"remove-crc-files","displayName":"Remove CRC Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"0 sec","yieldDuration":"100 ms","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"32f36f5f-c6cb-388a-bed5-daadd3b0e1b2","instanceIdentifier":"c74078fa-5beb-33f6-057c-d0b9ab561c9e","name":"","source":{"id":"ddee9737-0196-1000-f16b-1294a0d9d27a","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"GenFlowFile-GenerateLinks","comments":"Switch with a GetFile","instanceIdentifier":"c497a33a-b4b5-3e5e-7198-39c199d6d205"},"destination":{"id":"c2f3516f-529f-3c8e-8c5d-45febec1559f","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"SplitText-SplitLinks","comments":"","instanceIdentifier":"ff3ea7ad-91f9-3b93-1bc1-bdf5ed775fb2"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"e31c559e-71b6-39b8-b33e-eaaa8e91a88a","instanceIdentifier":"fd9a406d-0196-1000-4c28-9a4aff5895ef","name":"","source":{"id":"fd991320-0196-1000-4dd2-a67547916178","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"UpdateAttribute-RenameParquet","comments":"","instanceIdentifier":"8e7d9466-958d-3bce-2541-cde5f1fd36e2"},"destination":{"id":"9f4513fc-de9f-33e8-89e0-02ecaeca6021","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"PutParquet","comments":"","instanceIdentifier":"fd7026e9-0196-1000-543b-6c7de6a370fb"},"labelIndex":0,"zIndex":29,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"d50ca63d-f95d-33b7-a02c-a222fa63efbe","instanceIdentifier":"b1104576-0f3e-3ccb-97b5-5c4a9086a130","name":"","source":{"id":"e8e7adb8-f30b-3833-af18-ebef67d740fd","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"ExtractText-ExtractLinks","comments":"","instanceIdentifier":"754eab2c-ce68-3706-b926-746db8e4920b"},"destination":{"id":"e71bc302-938d-35d7-aaa1-3c5958ee4b4b","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"InvokeHTTP-DownloadDatasets","comments":"","instanceIdentifier":"19ea7129-61f3-3e25-0e3a-aacb1b7b9a03"},"labelIndex":0,"zIndex":5,"selectedRelationships":["matched","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"c30fe8da-bf1e-354e-b9a2-4cbe79e55fdc","instanceIdentifier":"f8e20c8d-0196-1000-771c-95f18b1d0797","name":"","source":{"id":"f309feb7-bdd2-3c72-9fd1-a1be563b2be9","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"RouteOnAttribute-CountryRoute","comments":"","instanceIdentifier":"f8df9d4b-0196-1000-fd5e-ec0848c1107f"},"destination":{"id":"b70faa3a-3ece-3f69-96d7-ab4d955170f9","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"MergeContent-ItDatasets","comments":"","instanceIdentifier":"f8e1c721-0196-1000-dac4-c06fb4daba3a"},"labelIndex":0,"zIndex":18,"selectedRelationships":["it"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"886d5b47-4677-3940-83c4-fcb2c8e7fd28","instanceIdentifier":"fd706ec4-0196-1000-9ff7-0852f033fa8f","name":"","source":{"id":"f8e51160-0196-1000-ea56-64c2a76f9120","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"UpdateAttribute-RenameDatasets","comments":"","instanceIdentifier":"54d9479c-de5f-329d-d84f-86ebdc0ebe53"},"destination":{"id":"fd991320-0196-1000-4dd2-a67547916178","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"UpdateAttribute-RenameParquet","comments":"","instanceIdentifier":"8e7d9466-958d-3bce-2541-cde5f1fd36e2"},"labelIndex":0,"zIndex":26,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"88145650-e681-3207-aa71-e8026cca8869","instanceIdentifier":"f8cc5867-0196-1000-2ff8-90cfc33a17b0","name":"","source":{"id":"08fc0a41-f35c-375a-bf18-56fff8291e8e","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"ReplaceText-RemoveHeader","comments":"","instanceIdentifier":"f8c72c3b-0196-1000-7c8e-302b93d4aed0"},"destination":{"id":"de6443c8-0196-1000-da41-94ad2558bb1d","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"UpdateAttribute-RenameAndGroup","comments":"","instanceIdentifier":"5142fe62-a7c3-3129-f79c-ffd296425b98"},"labelIndex":0,"zIndex":17,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"2ad0e7a8-f051-34a4-978a-ef47358a0662","instanceIdentifier":"f857db7a-7f2a-3e0e-0654-c92b5aae102d","name":"","source":{"id":"98fe3eff-f40a-3342-b017-40cfab820832","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"PutHDFS","comments":"","instanceIdentifier":"fc1d09b2-2f09-396f-42ba-30c795f5ce56"},"destination":{"id":"55dda8b4-73f1-3e32-9f1f-fed59c69ab46","type":"FUNNEL","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"Funnel","comments":"","instanceIdentifier":"397e0b06-859e-3b5d-4d62-c005514ca4c4"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"5668e1df-e2a6-3ea9-9b78-6495a7fa19ba","instanceIdentifier":"767e1f18-9932-3048-b959-199e97046d1e","name":"","source":{"id":"98fe3eff-f40a-3342-b017-40cfab820832","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"PutHDFS","comments":"","instanceIdentifier":"fc1d09b2-2f09-396f-42ba-30c795f5ce56"},"destination":{"id":"d7882197-25f6-320a-a543-5b5036e96e54","type":"FUNNEL","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"Funnel","comments":"","instanceIdentifier":"1790790b-a440-34d3-b928-2c16929b5d40"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"9fe29e98-b6a1-30b6-9b43-a12271f16f6e","instanceIdentifier":"fd744802-0196-1000-38f3-10bba03b3121","name":"","source":{"id":"9f4513fc-de9f-33e8-89e0-02ecaeca6021","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"PutParquet","comments":"","instanceIdentifier":"fd7026e9-0196-1000-543b-6c7de6a370fb"},"destination":{"id":"fd72596c-0196-1000-5e09-1351223ef4cb","type":"FUNNEL","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"Funnel","comments":"","instanceIdentifier":"acb58e10-cd9d-320b-487b-c5ef22ee2982"},"labelIndex":0,"zIndex":28,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"5cef9214-a908-3805-868e-c00d8a6e9338","instanceIdentifier":"b24c8f38-ac6d-396e-06a9-bb9705f515c3","name":"","source":{"id":"c2f3516f-529f-3c8e-8c5d-45febec1559f","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"SplitText-SplitLinks","comments":"","instanceIdentifier":"ff3ea7ad-91f9-3b93-1bc1-bdf5ed775fb2"},"destination":{"id":"e8e7adb8-f30b-3833-af18-ebef67d740fd","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"ExtractText-ExtractLinks","comments":"","instanceIdentifier":"754eab2c-ce68-3706-b926-746db8e4920b"},"labelIndex":0,"zIndex":15,"selectedRelationships":["splits"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"73f95bd1-44e0-3928-aa16-3a03478fe577","instanceIdentifier":"fd9b484c-0196-1000-3cbd-f7c95bfdee07","name":"","source":{"id":"9f4513fc-de9f-33e8-89e0-02ecaeca6021","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"PutParquet","comments":"","instanceIdentifier":"fd7026e9-0196-1000-543b-6c7de6a370fb"},"destination":{"id":"fd742e0c-0196-1000-9476-b3dc8ce4ee7f","type":"FUNNEL","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"Funnel","comments":"","instanceIdentifier":"a1ac078b-927b-3c12-f3af-9d0de88b4a87"},"labelIndex":0,"zIndex":30,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"68a1920e-b62e-30b0-985a-37dcdd53686b","instanceIdentifier":"f8e281f9-0196-1000-37fd-a25abbdf1edc","name":"","source":{"id":"f309feb7-bdd2-3c72-9fd1-a1be563b2be9","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"RouteOnAttribute-CountryRoute","comments":"","instanceIdentifier":"f8df9d4b-0196-1000-fd5e-ec0848c1107f"},"destination":{"id":"f8e25de2-0196-1000-35ce-b31b43f3d7b2","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"MergeContent-SeDatasets","comments":"","instanceIdentifier":"bd21153e-4448-37da-5d6c-c120eacb6e46"},"labelIndex":0,"zIndex":19,"selectedRelationships":["se"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"f584c433-3b6b-3f08-81df-782e34be2b3b","instanceIdentifier":"1329c0cf-4ce5-378b-35cc-c9e959ecc13d","name":"","source":{"id":"de6443c8-0196-1000-da41-94ad2558bb1d","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"UpdateAttribute-RenameAndGroup","comments":"","instanceIdentifier":"5142fe62-a7c3-3129-f79c-ffd296425b98"},"destination":{"id":"f309feb7-bdd2-3c72-9fd1-a1be563b2be9","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"RouteOnAttribute-CountryRoute","comments":"","instanceIdentifier":"f8df9d4b-0196-1000-fd5e-ec0848c1107f"},"labelIndex":0,"zIndex":14,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"72ed2ca7-8513-311e-9970-4ce1ca64002c","instanceIdentifier":"f8cc4584-0196-1000-8a5d-78e25866cf5d","name":"","source":{"id":"e71bc302-938d-35d7-aaa1-3c5958ee4b4b","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"InvokeHTTP-DownloadDatasets","comments":"","instanceIdentifier":"19ea7129-61f3-3e25-0e3a-aacb1b7b9a03"},"destination":{"id":"08fc0a41-f35c-375a-bf18-56fff8291e8e","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"ReplaceText-RemoveHeader","comments":"","instanceIdentifier":"f8c72c3b-0196-1000-7c8e-302b93d4aed0"},"labelIndex":0,"zIndex":16,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"c3a35566-1b8c-30cf-ae93-f500fddc4659","instanceIdentifier":"f8e54887-0196-1000-21d5-55a325049130","name":"","source":{"id":"b70faa3a-3ece-3f69-96d7-ab4d955170f9","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"MergeContent-ItDatasets","comments":"","instanceIdentifier":"f8e1c721-0196-1000-dac4-c06fb4daba3a"},"destination":{"id":"f8e51160-0196-1000-ea56-64c2a76f9120","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"UpdateAttribute-RenameDatasets","comments":"","instanceIdentifier":"54d9479c-de5f-329d-d84f-86ebdc0ebe53"},"labelIndex":0,"zIndex":20,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"a9467533-5a8a-3337-952a-fa3c4d70df5e","instanceIdentifier":"fa21d8e2-0196-1000-ec84-d660849b6a58","name":"","source":{"id":"f8e51160-0196-1000-ea56-64c2a76f9120","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"UpdateAttribute-RenameDatasets","comments":"","instanceIdentifier":"54d9479c-de5f-329d-d84f-86ebdc0ebe53"},"destination":{"id":"98fe3eff-f40a-3342-b017-40cfab820832","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"PutHDFS","comments":"","instanceIdentifier":"fc1d09b2-2f09-396f-42ba-30c795f5ce56"},"labelIndex":0,"zIndex":22,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"312f47c0-bc7f-32c9-abf4-15bbb387d0c1","instanceIdentifier":"f8e56f48-0196-1000-07ce-e9c8761aa7d5","name":"","source":{"id":"f8e25de2-0196-1000-35ce-b31b43f3d7b2","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"MergeContent-SeDatasets","comments":"","instanceIdentifier":"bd21153e-4448-37da-5d6c-c120eacb6e46"},"destination":{"id":"f8e51160-0196-1000-ea56-64c2a76f9120","type":"PROCESSOR","groupId":"6f8f46ad-5017-32f9-8d71-b68fca956eb3","name":"UpdateAttribute-RenameDatasets","comments":"","instanceIdentifier":"54d9479c-de5f-329d-d84f-86ebdc0ebe53"},"labelIndex":0,"zIndex":21,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"}],"labels":[],"funnels":[{"identifier":"55dda8b4-73f1-3e32-9f1f-fed59c69ab46","instanceIdentifier":"397e0b06-859e-3b5d-4d62-c005514ca4c4","position":{"x":608.0,"y":-464.0},"componentType":"FUNNEL","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"d7882197-25f6-320a-a543-5b5036e96e54","instanceIdentifier":"1790790b-a440-34d3-b928-2c16929b5d40","position":{"x":88.0,"y":-464.0},"componentType":"FUNNEL","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"fd72596c-0196-1000-5e09-1351223ef4cb","instanceIdentifier":"acb58e10-cd9d-320b-487b-c5ef22ee2982","position":{"x":1160.0,"y":-464.0},"componentType":"FUNNEL","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"},{"identifier":"fd742e0c-0196-1000-9476-b3dc8ce4ee7f","instanceIdentifier":"a1ac078b-927b-3c12-f3af-9d0de88b4a87","position":{"x":776.0,"y":-464.0},"componentType":"FUNNEL","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"}],"controllerServices":[{"identifier":"eefb16d1-6d6f-3b69-903c-83c7568b028f","instanceIdentifier":"fa231bc8-0196-1000-078a-51c8616c5a45","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-text-property","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"CarbonIntensityRecord\",\n  \"fields\": [\n    {\"name\": \"Datetime_UTC\", \"type\": \"string\"},\n    {\"name\": \"Country\", \"type\": \"string\"},\n    {\"name\": \"Zone_name\", \"type\": \"string\"},\n    {\"name\": \"Zone_id\", \"type\": \"string\"},\n    {\"name\": \"Carbon_intensity_gCO2eq_kWh_direct\", \"type\": \"double\"},\n    {\"name\": \"Carbon_intensity_gCO2eq_kWh_life_cycle\", \"type\": \"double\"},\n    {\"name\": \"Carbon_free_energy_percentage_CFE\", \"type\": \"double\"},\n    {\"name\": \"Renewable_energy_percentage_RE\", \"type\": \"double\"},\n    {\"name\": \"Data_source\", \"type\": [\"null\", \"string\"], \"default\": null},\n    {\"name\": \"Data_estimated\", \"type\": [\"null\", \"boolean\"], \"default\": null},\n    {\"name\": \"Data_estimation_method\", \"type\": [\"null\", \"string\"], \"default\": null}\n  ]\n}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"6f8f46ad-5017-32f9-8d71-b68fca956eb3"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}